<div style="padding-top: 2rem; margin: 0; text-align: center;">
    <text style="font-weight: 400; font-size: xx-large;">{{ NAME }} </text>
    <text class="highlight" style="font-weight: bold; font-size: xx-large;"> {{ NICKNAME }}</text>

    <div class="b" style="font-size: x-small; color: grey; text-decoration: none; padding: 1rem;">
        <a href="{{ GITHUB }}"><i class="fa-brands fa-github"></i> {{ GITHUB }} </a> |
        <a href="mailto:{{ MAIL }}"><i class="fa-solid fa-envelope"></i> {{ MAIL }} </a>
    </div>

</div>