<div class="heading">
    <text class="highlight">Wor</text><text>k Experience</text>
    <hr class="line">
</div>

<div class="sec">
    {% for exp_id in EXP %}
        {% set exp = EXP[exp_id][LANG] %}
        {% set info = EXP[exp_id].basic_info %}

    <div class="container small">
        <div class="left-div">
            <text class="b">{{ exp.title }}</text><br>
            <text class="x-small i">{{ exp.description }}</text> <br>
        </div>
        <div class="right-div period">{{ info.period_start }} ~ {{ info.period_end }}</div>
    
    </div>
    {% endfor %}
</div>