<div class="heading">
    <text class="highlight">Edu</text><text>cation</text>
    <hr class="line">
</div>
<div class="sec">
{% for degree in EDU %}
{% set edu = EDU[degree].university[LANG] %}
{% set info = EDU[degree].university.basic_info %}

{% set grad_year = info.graduate_year %}
{% set gpa = info.gpa %}


    <div class="container small">
        <div class="left-div">
            <text class="small b">{{ edu.name }} </text><br>
            <text class="x-small i"><text style="text-transform: capitalize;">{{ degree }}'s</text> in {{ edu.major }}</text><br>
            <text class="annotation">
                <ul class="dash"><li>GPA: {{ gpa }}</li></ul>
            </text>
        </div>
        <div class="right-div highlight">
            <i> {{ edu.city }}, {{ edu.country }}</i><br>
            <text class="period">{{ grad_year }}</text>
        </div>
    </div>


{% endfor %}
</div>