<div class="heading">
    <text class="highlight">Edu</text><text>cation</text>
    <hr class="line">
</div>

{% for degree in EDU %}
{% set edu = EDU[degree].university.english %}
{% set info = EDU[degree].university.basic_info %}

{% set grad_year = info.graduate_year %}
{% set gpa = info.gpa %}

<div class="sec small">
    <div class="container">
        <div class="left-div"><text class="b">{{ edu.name }} </text> </div>
        <div class="right-div highlight"><i> {{ edu.city }}, {{ edu.country }}</i><br></div>
    </div>
    <div class="container">
        <div class="left-div"> 
            <text class="x-small">{{ edu.major }}</text><br>
            <text class="b annotation">GPA: {{ gpa }}</text>
        </div>
        <div class="right-div highlight">
            <text class="b annotation">{{ grad_year }}</text>
        </div>
    </div>

</div>

{% endfor %}