table td {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    vertical-align: middle;
    line-height: 1.5;
}

th {
    vertical-align: middle;
}

.w400 {
    min-width: 400px
}

@media screen and (max-width: 768px) {
    .w400 {
        min-width: auto;
    }
    
}

@media screen and (max-width: 576px) {
    .w400 {
        min-width: auto;    
    }
    
}