<section id="header">
    <header>
        <span class="image avatar"><img src="images/avatar.jpg" alt="" /></span>
        <h1 id="logo"><a href="">{{ NAME }} <text style="font-size: x-small;"> {{ NICKNAME }} </text></a></h1>
        <div class="medium"><em>{{ Q }}</em></div>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#intro">About me</a></li>
            <li><a href="#edu">Education</a></li>
            <li><a href="#award">Competition & Award</a></li>
            <li><a href="#research">Research Interest</a></li>
            <li><a href="#skill">Skill</a></li>
            <li><a href="#sproject">Side Project & IT Blog</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><a href="https://github.com/{{ GITHUB }}" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="mailto:{{ MAIL }}" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            <li><a href="static/pdf/cv_eng.pdf" class="icon solid fa-file-lines"><span class="label">CV</span></a></li>
        </ul>
    </footer>
</section>