<section id="header">
    <header>
        <span class="image avatar"><img src="images/avatar.jpg" alt="" /></span>
        <h1 id="logo"><a href="">{{ NAME }} <text style="font-size: x-small;"> {{ NICKNAME }} </text></a></h1>
        <p>{{ Q }}</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#intro">About me</a></li>
            <li><a href="#edu">Education</a></li>
            <li><a href="#research">Research Interests</a></li>
            <li><a href="#skill">Skills</a></li>
            <li><a href="#sproject">Side Projects & IT Blog</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><a href="{{ GITHUB }}" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="mailto:{{ MAIL }}" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            <li><a href="" class="icon solid fa-file-lines"><span class="label">CV</span></a></li>
        </ul>
    </footer>
</section>