<section id="exp">
    <div class="container">
        <h3>Experiment</h3>
        {% for exp in EXP %}
            <text class="larger b">{{ exp.english.title }} </text> <em class="annot medium"> - {{ exp.info.period_start_year_month }} ~ {{ exp.info.period_end_year_month }}</em><br>
            {% if exp.english.headline %}
            <ul>
                <li class="annot large">{{ exp.english.headline }}</li>
                {% for des in exp.english.description %}
                    <li class="annot large">{{ des }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
    </div>
</section>