<section id="research">
    <!-- <div class="container"> -->
        <h4>Research Interests</h4>
        
            {% for research in RI %}
                {% set info = RI[research] %}
                <div style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
                    <text class="b large">
                        {{ info.english.name }}&nbsp;&nbsp;<i style="text-align: center;" class="{{ info.basic_info.image }}"></i> 
                    </text> <em class="annot medium">- {{ info.basic_info.status }}</em>

                    {% if info.english.description %}
                        <br>
                        <em class="annot">{{ info.english.description }}</em>
                    {% endif %}
                </div>
            {% endfor %}
        
    <!-- </div> -->
</section>