<section id="sproject">
    <div class="container">
        <h3>Side Project & IT Blog</h3>

        <p>
            Below are my recently personal <em class="b">side projects</em>, <a href="{{ IT_BLOG }}"><em class="b">IT blog</em></a>, and <a href="{{ CHEATSHEET }}"><em class="b">cheatsheet</em></a>.<br>
        </p>

        <table class="table" style="font-size: smaller;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Period</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Tags</th>
                </tr>
            </thead>
            <tbody>
            {% for project in SIDE_PROJECT %}
                {% set num = loop.index %}
                {% set p = SIDE_PROJECT[project] %}
                {% set info = SIDE_PROJECT[project].basic_info %}
                <tr>
                    <td scope="row" style="font-size: smaller; font-weight: bolder; text-align: center;">{{ num }}</td>
                    <td style="font-size: small; text-align: left" class="w130">
                        {{- info.period_start }} ~ 
                        {%- if info.period_end == 'now' %} 
                            <b>{{ info.period_end }} 🚀</b>
                        {%- else %}
                            {{ info.period_end -}}
                        {%- endif -%}
                    </td>
                    <td class="w400 b">
                        {{ p.english.project_name }}
                        {% if info.external_link %}
                        &nbsp;&nbsp;
                        <a href="{{ info.external_link }}" target="_blank">
                            <i class="fa-solid fa-globe"></i>
                        </a>
                        {% endif %}
                        {% if info.pdf %}
                        &nbsp;&nbsp;
                        <a href="{{ info.pdf }}" target="_blank">
                            <i class="fa-solid fa-file-pdf"></i>
                        </a>
                        {% endif %}
                        {% if info.video %}
                        &nbsp;&nbsp;
                        <a href="{{ info.video }}" target="_blank">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        {% endif %}

                        {% if info.pypi %}
                        &nbsp;&nbsp;
                        <a href="https://pypi.org/project/{{ info.pypi }}"><img class='pypi' src="https://img.shields.io/pypi/dm/{{ info.pypi }}?style=for-the-badge"></a>
                        {% endif %}


                    </td>
                    <td style="font-size: small; text-transform: lowercase;">
                        {% for tag in info.tags %}
                        {{- tag -}} {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr>

        <table class="table" style="font-size: smaller;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="text-align: center;">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Title</th>
                </tr>
                <tbody>
                    {% for blog in BLOG_POST %}
                    <tr>
                        {% set note_type = blog["title"].split(']')[0][1:] %}
                        {% set blog_title = blog["title"].split(']')[1] %}
                        <td scope="row" style="font-size: smaller; font-weight: bolder; text-align: center;">{{ loop.index }}</td>
                        <td class="small text-center" style="min-width: 90px;">{{ blog["date"][:10] }}</td>
                        <td class="small b">{{ note_type }}</td>
                        <td class="b"><a href="{{ blog['_link'] }}">{{ blog_title }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>

    </div>
</section>