<section id="award">
    <div class="container">
        <h3>Competition & Award</h3>
        {% for award in AWARD %}
            <text class="b larger">{{ award.english.title }}</text> <em class="annot medium"> - {{ award.info.period_start.year }}</em><br>
            <ul>
                {% for desc in award.english.description %}
                <li class="annot large">{{ desc }}</li>
                {% endfor %}
                <li class="annot large">
                    {% for resource in award.info.resource %}
                    {{ resource.html | safe }} {% if not loop.last %},&nbsp;{% endif %}
                    {% endfor %}
                </li>
            </ul>
        {% endfor %}
    </div>
</section>