<!-- <section id="pull_request"> -->
<text class="larger b">Open Source Project Pull Request</text> <br>

{% for pr in PULL_REQUEST %}
    {% set num = loop.index %}
    {% set info = PULL_REQUEST[pr].basic_info %}
    {% set history = PULL_REQUEST[pr].pull_request.history %}
    <ul class="annot large">
        <li>
            <a style="font-family: monospace;" href="{{ info.external_link }}"> {{ info.name }}</a></text> <text class="annot medium">&nbsp;-&nbsp;<i class="fa-solid fa-clock-rotate-left"></i> {{ history | length }}
            <ul>
                {% for h in history %}
                    <li style="list-style: square;"><a href="{{ h }}"> {{ h }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    
{% endfor %}
<!-- </section> -->