<section id="edu">
    <div class="container">
        <h3>Education</h3>
            {% for edu in EDU %}
            <text class="larger b">{{ edu.english.university }} </text> <em class="annot medium"> - {{ edu.info.period_end_year }}</em>
            <ul>
                <li class="annot large">Major : {{ edu.english.major }}</li>
                {% for des in edu.english.description %}
                <li class="annot large">{{ des }}</li>
                {% endfor %}
                {% if edu.english.thesis %}
                    <li class="annot large">Thesis : {{ edu.english.thesis }}</li>
                    <li class="annot large">Advisor : {{ edu.english.supervisor }}</li>
                {% endif %}
                <li class="annot large">
                    GPA : {{ edu.info.gpa }} &nbsp; 
                    (
                        {% for resource in edu.info.resource %}
                        {{ resource.html | safe }} {% if not loop.last %},&nbsp;{% endif %}
                    {% endfor %}
                    )
                </li>
            </ul> 
            {% endfor %}
</section>