<section id="intro">
    <!-- <div class="image main" data-position="center">
        <img src="images/banner.jpg" alt="" />
    </div> -->
    <div class="container">
        <header class="major">
            <h2 style="font-size: 5rem;">😶 <img style="width: 120px; display: inline-block; margin-bottom: 0px; padding: 0px; vertical-align: text-bottom;"src="static/image/李享紝.svg"></h2>
            <text>The above is my Chinese name, you can call me <b><em>RN Lee</em></b>. If it's hard to pronounce.</text>
            <p>ጿ ኈ ቼ ዽ ጿ ኈቼ ዽ ጿ ኈ</p>
            <!-- <img src="/static/image/my_skills.png" alt="My Skills"> -->
        </header>
    </div>
</section>