<section id="sproject">
    <!-- <div class="container"> -->
        <text class="larger b">Side Project</text>

        <ul class="annot">
            {% for project in SIDE_PROJECT %}
                {% if project.info.status.value == "done" %}

                        <text class="annot large" style="font-family: monospace;">
                            {{ project.info.period_start }} ~ {{ project.info.period_end_year_month_equal_now }} - 
                            {% for resource in project.info.resource %}
                                {{ resource.icon | safe }} {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </text><br>
                        
                        <text class="large b">{{ project.english.title }}</text>  &nbsp;

                        <text class="annot" style="font-size: small;">
                            {% for tag in project.info.tags %} 
                                <span style="background-color: #ddd; border-radius: 1rem; padding-left: .6rem; padding-right: .6rem; padding-top: .2rem; padding-bottom: .2rem; text-align: center; white-space: nowrap;">
                                    {{ tag }}
                                </span>{% if not loop.last %}&nbsp;{% endif %}
                            {% endfor %}
                        </text> <br>

                        <ul>
                            {% for desc in project.english.description %}
                                <li class="large" style="list-style-type: square;">{{ desc }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <text class="larger b">IT Blog</text>

        <ul class="annot large">
            {% for blog in BLOG_POST %}
                {% set note_type = blog["title"].split(']')[0][1:] %}
                {% set blog_title = blog["title"].split(']')[1] %}
                <li>
                    <text style="font-family: monospace;">{{ blog["date"][:10] }} - </text>
                    <a href="{{ blog['_link'] }}" target="_blank">
                        {{ blog_title }}
                    </a>
                </li>
            {% endfor %}
        </ul>

</section>